@import url('https://fonts.googleapis.com/css?family=Days+One');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Days One', sans-serif;
}

a {
    text-decoration: underline;
}

p {
    margin: 0.75rem 0;
}


/* Utility*/
.logo-img {
    width: 70px;
    padding: 4px;
}

.text-primary {

}