@import url('https://fonts.googleapis.com/css?family=Days+One');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Days One', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}


/* Utility Classes*/


.text-primary {
     color: #ffc900;
     align-self: center;
}

/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #6b6c75;
    color: #ffffff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar .logo-img {
    width: 70px;
    padding: 1px;
}

#navbar ul {
    display:flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #ffffff;
    padding: 0.75rem;
}